\#.dmenurc#
.gksu.lock
.viminfo.tmp
1
node_modules
Videos/	
.irssi
.ssh
.Xauthority
.Xclients
.atom/
.bash_history
.bash_logout
.bash_profile
.cache/
.config/Trolltech.conf
.config/pavucontrol.ini
.config/pulse/
.esd_auth
.ssr/
.config/libreoffice
.config/Thunar
.config/PhotoQt
.config/Mousepad
.config/google-chrome
.config/vlc
.config/qupzilla
.config/qt5ct
.config/manjaro-hello.json
.config/manjaro
.config/menus
.config/mimeapps.list
.config/nitrogen
.config/pcmanfm
.config/nautilus
.config/neofetch
.config/morc_menu
.config/rtv
.config/user-dirs.dirs
.config/user-dirs.locale
.config/viewnior
.config/volumeicon
.config/xarchiver
.config/xfce4
.config/Atom
.config/autostart
.config/clipit
.config/configstore
.config/darktable
.config/dconf
.config/dmenu-recent
.config/dunst
.config/Electron
.config/epdfview
.config/filezilla
.config/gconf
.config/gtk-2.0
.config/gtk-3.0
.config/hexchat
.config/htop
.config/katepartrc
.config/katevirc
.config/kwriterc
.config/libfm
.dir_colors
.dmenurc
.dmrc
.dvdcss/
.elinks/
.extend.Xresources_backup
.extend.bashrc
.extend.xinitrc
.ff-theme-util_1strun
.fonts/
.gem/
.gimp-2.8/
.gitconfig
.gnome/
.gnupg/
.gtkrc-2.0
.icons/
.links/
.local/
.mkshrc
.moc/
.moonchild productions/
.mozilla/
.npm/
.pki/
.profile
.purple/
.rvm/
.shoes/
.shutter/
.themes/
.thumbnails/
.vim.bak.1/
.vim.bak.2/
.viminfo
.vimpkg/
.w3m/
.wget-hsts
.xinitrc
.xprofile
.xsession
.xsession-errors
.xsession-errors.old
.zlogin
.zshrc
Bewerbung_Hettich.docx
Documents/
Downloads/
Pictures/
Videos/
apt-vim/
extend_bkp
go/
i3wm-themer/
package-lock.json
searchy
.config/ranger/bookmarks
.config/ranger/history
*.swp
.config/uzbl
.furoshiki
.perlbrew
.putty
.swt
.viminfz.tmp
.vimperator/
perl5/
